.filterButton {
    padding: 6px 12px;
    border: 1px solid var(--Black-20);
    border-radius: 12px;
    color: var(--Black-800);
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    width: fit-content;
}

.active {
    border: 1px solid var(--Purple-700);
}

.filterButton:hover {
    background-color: var(--Purple-700);
    color: white;
    transition: all 0.2s ease;
}