@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --white: rgba(255, 255, 255, 1);
  --White-100: rgba(255, 255, 255, 1);
  --White-900: rgba(255, 255, 255, 1);
  --Black-10: rgba(248, 248, 248, 1);
  --Black-20: rgba(28, 28, 28, 0.2);
  --Black-25: rgba(244, 244, 244, 1);
  --Black-50: rgba(232, 232, 232, 1);
  --Black-100: rgba(209, 209, 209, 1);
  --Black-200: rgba(186, 186, 186, 1);
  --Black-300: rgba(163, 163, 163, 1);
  --Black-400: rgba(140, 140, 140, 1);
  --Black-600: rgba(94, 94, 94, 1);
  --Black-700: rgba(71, 71, 71, 1);
  --Black-800: rgba(48, 48, 48, 1);
  --Black-900: rgba(25, 25, 25, 1);
  --Purple-100: rgba(240, 231, 255, 1);
  --Purple-700: rgba(106, 11, 255, 1);
  --Red-600: rgba(243, 22, 78, 1);
  --Brand: rgba(85, 51, 255, 1);
  --BG: rgba(248, 248, 248, 1);
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  background: var(--Black-25);
  font-family: "Manrope", sans-serif;
}


button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}