.badge {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border-radius: 8px;
    background: var(--Black-10);
}

.label {
    color: var(--Black-800);
    font-size: 14px;
    font-weight: 600;

}

.value {
    font-size: 14px;
    padding: 2px 4px;
    font-weight: 600;
    color: var(--white);
    border-radius: 4px;
    background: var(--Purple-700);
}